body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif !important;
}
header, #content-wrapper {
  border: none;
}
#content-wrapper {
  padding-top: 0;
}
#content-wrapper > ul:first-child {
  padding-bottom: 30px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#content-wrapper > ul:first-child li {
  flex-grow: 1;
}
#content-wrapper > ul:first-child li a {
  padding: 10px 0;
  color: #FFF;
  display: block;
  text-align: center;
  vertical-align: middle;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url(../images/header-bg.jpg);
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #2879D0;
}
#content-wrapper > ul:first-child li a:hover {
  background-color: #44F;
}
#content-wrapper > ul:first-child li + li {
  border-left: 1px solid #FFF;
}

header a.button {
  border: 1px solid transparent;
  border-radius: 15px;
  background: transparent url(../../images/Linkedin.png);
  background-repeat: no-repeat;
  background-size: auto;
  height: 70px;
  padding-top: 10px;
  display: block;
  text-align: left;
  padding-left: 90px;
  padding-top: 15px;
  font-size: 200%;
  color: #FFF;
}
header a.button small {
 display: block; 
}
header a.button:hover {
  border: 1px solid #FFFFFF;
}

.inner {
    position: relative;
    width: 940px;
    margin: 0 auto;
	display: flex;
}

.right {
    background-image: url(../../images/Image_CV.jpeg);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background-size: cover;
}

.left {
    width:740px;
    height:200px
    float:none;
	padding-left:5px
}
